* {
    margin : 0;
    padding: 0%;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font: cursive;
}

.outerbox {
    width: 100vw;
    height: 120vw;
    background: linear-gradient(to top left, #074484 , #1bc9f9 );
}

.innerbox {
    width: 400px ;
    height: 535px;
    margin: 0 auto;
    position: relative;
    top: 300px;
    transform: translateY(-50%);
    padding: 20px 40px;
    background-color: #ffffff09;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    box-shadow: 2px 2px 5px #071311;
    z-index: 2;
}

.signup-header h1 {
    font-size: 2.5rem;
    color: #221212;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
.signup-header p {
    font-size: 0.9rem;
    color : #4d4444
}

.signup-body {
    margin: 20px 0;
}

.signup-body p {
    margin: 10px 0px;
}

.signup-body p label {
    display: block;
    font-weight: bold;
}

.signup-body p input {
     width: 100%;
     height: 30px;
     padding: 5px;
     border: 2px solid #cccc;
     border-radius: 4px;
     font-size: 1rem;
     margin-top: 5px;
}

#submit {
    background-color: #34db66;
    border: none;
    color: white;
    cursor: pointer;
}

#submit:hover {
    background-color: #18d722;
}

.signup-footer p {
    color: #2b2d2c;
    text-align: center;
}

.signup-footer p a {
    color:#015614;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(to top right , #ffffff33 , rgb(255, 255, 255));
    position: absolute;
}

.C1 {
    top : 50px;
    left: 40px;
}

.C2 {
    bottom: 30px;
    right: 50px;
}

sup {
    color: red;
}




